* {
    user-select: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  ::webkit-scrollbar {
    display: none;
  }
  body {
    background: linear-gradient(90deg, #19182b, #040416);
    overflow: hidden;
  }
  .main {
    padding: 15px;
    margin-top: 7%;
    text-align:center
  }
  .main img {
    border-radius: 100px;
  }
  .main h4 {
    color: #4747ff;
    font-size: 22px;
    margin-top: 1%;
    font-family: verdana;
  }
  .main p {
    overflow: hidden;
    color: #c7c7c7;
    font-size: 17px;
    font-family: arial;
    margin: 1%;
    text-align:center;
    max-width: 100%;
  }
  .link {
    background: transparent;
    font-family: arial;
    color: #c7c7c7;
    padding: 10px 20px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.8s;
    margin-left: 1%;
  }
  .link:hover{
    background: #c7c7c7;
    color: black;
    transition: 0.8s;
  }
